extends layout

block content
    .row
        .col-xs-12.col-sm-8
            h4.error= message
            .row.list-group
                each article in articles
                    .col-xs-12.list-group-item
                        h4
                            a(href='/article/#{article._id}')= article.title
                        p.time
                            span= article.createdAt.replace(/T/, ' ').replace(/\..+/, '')
                        p.description= article.content.substring(0, 300) + "..."
                        p
                            each tag in article.tags
                                span.label.label-default.tag= tag
                            a.btn.btn-success.pull-right(href="/article/#{article._id}",role="button") Read more


        .col-xs-12.col-sm-4
            p.lead Feature and Advertising posts goes here
